@baseColor :#027381;

body{
    background-color: @baseColor;
}
*{
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;


    .header_left_wrap{
        display: flex;
        justify-content: ;
        background-color: #fff;

        width: 400px;
        height: 80px;
    }
    .header_right_wrap{
        display: flex;
        background-color: #fff;
        ul{
            display: flex;
            li{
                margin-right: 20px;
            }
        }

        width: 500px;
        height: 80px;
    }

}


